<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>test</title>
    </head>
    <body>
        <h1 style="">用户输入</h1>
        <form action="/index/" method="post">
            姓名<input type="text" name="studentName" />
            成绩<input type="text" name="score" />
            <input type="submit" value="提交" />
        </form>
    <br />
    <h1>成绩展示</h1>
    <table border="1">
        <thead>
            <th>姓名</th>
            <th>成绩</th>
        </thead>
        <tbody>
            {% for line in data %}
                <tr>
                    <td>{{line.studentName}}</td>
                    <td>{{line.score}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </body>
</html>